header{
    max-height: fit-content;
    padding: 0%;
    background-color: #2b2b2b;
    display: flex;
}

ul{
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

li{
    align-self: flex-start;
}

a{
    text-decoration: none;
    color: white;
}

h3{
    padding-top: 0%;
    padding-left: 3%;
}